# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files to use Windows CRLF line endings
*.lua text eol=crlf
*.toc text eol=crlf
*.xml text eol=crlf
*.md text eol=crlf

# Denote binary files (these should not be modified)
*.jpg binary
*.png binary
*.gif binary
*.tga binary
*.blp binary

# Handle WoW specific files
*.ttf binary